<nav class="menu">
  <ul class="menu-list">
    <li><a routerLink="/home" routerLinkActive="active">Home</a></li>    
    <li><a routerLink="/registration" routerLinkActive="active">Registr</a></li>    
    <li><a routerLink="/project" routerLinkActive="active">Project-menagment</a></li>
    <li><a routerLink="/contacts" routerLinkActive="active">contacts</a></li>
    <li><a routerLink="/comment" routerLinkActive="active">comment</a></li>
    <li><a routerLink="/registration" (click)="onClick()">log out</a></li>
  </ul>
</nav>